/* 商城主页 */
footer iframe{
  width: 100%;
  height: 520px;
}
/* 轮播层 **********************************************/
/* 轮播左侧列表 */
/* section .home_hero{
  position: relative;
} */
section .home_hero_icon{
  position: absolute;
  top:121px;
  background: rgba(34, 34, 34, 0.5);
  width: 234px;
  height: 460px;
  z-index: 5;
}
section .home_hero_icon .hero_list{
  padding: 24px 0;
  margin: 0;
  list-style:none;
}
.home_hero_icon>.hero_list>li{
  padding: 10px 30px;
  /* height: 20px; */
}
.home_hero_icon>.hero_list>li:hover{
  background: #FE6606;
}
.home_hero_icon>.hero_list>li>a{
  color: #fff;
  text-decoration: none;
}
.home_hero_icon>.hero_list>li>a>span{
  font-size: 22px;
  float: right;
  line-height: 20px;
}
.home_hero_icon .hero_list .hero_menu{
  position: absolute;
  top: 40px;
  left:236px;
  width: 960px;
  height: 460px;
  opacity: 0;
  background: #fff;
  box-shadow: 3px 5px 20px #acacac;
  transition: all 1s;
}
.hero_list .hero_menu li{
  width: 200px;
  margin: 20px;
}
.hero_list .hero_menu li a span{
  line-height: 50px;
  font-size: 12px;
}
.hero_list .hero_menu li a img{
  width: 50px;
  vertical-align: middle;
}

/* 轮播图 ********************************************/
.home_slider{
 overflow: hidden;
 width: 1220px;
 height: 460px;
}
.home_slider img{
  opacity: 1;
  left: 0px;
  width: 1220px;
  height: 460px;
  transition: all 1s;
}
/* 轮播下组件  */
.hero_sub{
  height: 170px;
  margin:20px 0;
}
/* 轮播下 左侧按钮 */
.hero_sub .hero_channle{
width: 234px;
float: left;
}
.hero_sub .hero_channle ul li{
  height: 85px;
}
.hero_sub .hero_channle ul li img{
  opacity:0.9;
}
.hero_sub .hero_channle ul li img:hover{
opacity: 1;
}
/* 轮播下 右侧 */
.hero_sub .hero_sub_r{
float: right;
}
.hero_sub .hero_sub_r ul li{
  margin-left:12px;
}
.hero_sub .hero_sub_r ul li img{
  height: 170px;
}
.hero_sub .hero_sub_r ul li img:hover{
  box-shadow:5px 5px 20px #acacac;
}
/* 小米闪购 ********************************************/
.flashbuy,.home_suggest{
  margin-top: 60px;
}
.flashbuy>div:first-child,.home_suggest>div:first-child{
  margin-bottom: 20px;
  height: 40px;
}
.flashbuy>div>p.xm_title,.home_suggest>div>p.xm_title{
  margin: 0;
  float: left;
}
/* 倒计时 */
.flashbuy .flash_time{
  width: 234px;
  height: 340px;
  border-top: 1px solid #E43935;
  background: #F0ECEC;
  text-align:center;
  float: left;
}
.flashbuy .flash_time p:first-child{
  font-size: 21px;
  margin-top: 60px;
  color:#E43934;
}
.flashbuy .flash_time p:nth-child(3){
  color: #818181;
}
.flashbuy .flash_time .time_num{
  margin-top: 30px;
  font-size: 29px;
}
.flashbuy .flash_time .time_num span{
  display: inline-block;
  font-size: 26px;
  line-height: 46px;
  color: #fff;
  width: 46px;
  height: 46px;
  background: #5F5650;
}
/* 滑动列表 *************************/
.list_btn{
  float: right;
}
.list_btn a{
  display: inline-block;
  border: 1px solid #acacac;
  color: #acacac;
  font-size: 20px;
  padding: 1px 8px 3px 8px;
  font-weight: bold;
}
.list_btn a:hover{
  border:1px solid #FE6606;
}
 .flash_list{
  overflow: hidden;
  height: 340px;
}
 .flash_list ul{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left:0px;
}
 .flash_list ul li{
  float: left;
  width: 234px;
  height: 340px;
  border-top: 1px solid #FE6606;
  background: #fefefe;
  text-align:center;
  margin-left: 12px;
  margin-bottom: 10px;
  transition: all 0.6s;
}
 .flash_list ul li:hover{
  box-shadow:0px 3px 20px #acacac;
  margin-top: -4px;
}
.flash_list ul li a{
  margin-top: 50px;
  display: block;
  position: relative;
}
.flash_list ul li a span{
  background: #E43935;
  color: #fff;
  position: absolute;
  top: -50px;
  left: 38%;
}
.flash_list ul li a img{
  width: 160px;
}
.flash_list ul li a p:nth-child(3){
  margin: 10px;
  color: #000;
}
.flash_list ul li a p:nth-child(4){
  margin: 4px;
  color:#818181;
}
.flash_list ul li a p:nth-child(5){
  margin: 0;
  color: #FE6606;
}
.flash_list ul li a p del{
  color: #818181;
}
/* 手机模块 ********************************************/
/* 手机导航图 */
.home_phone{
  margin-top: 60px;
}
.home_phone div:first-child a img{
 width: 1220px;
}
/* 手机图表 ************/
.phone_title p a{
  font-size:12px;
  float: right;
  color: #686868;
}
.phone_title p a span{
  font-size: 20px;
}
.phone_title p a:hover{
  color: #FE6606;
}
.phone_list{
  height: 620px;
}
.phone_list div:first-child{
  float: left;
}
.phone_list div:first-child a img{
  position: relative;
  width: 234px;
  transition: all 0.5s;
}
.phone_list>div>a>img:hover{
  margin-top: -4px;
}
/* 手机商品列表 */
.list_product{
  height: 620px;
}
.list_product ul li{
  float: left;
  width: 234px;
  height: 300px;
  margin-bottom: 12px;
  margin-left: 12px;
  background: #fff;
  text-align: center;
  list-style: none;
}
.list_product ul li a{
  display: block;
  width: 234px;
  height: 300px;
  box-sizing: border-box;
  transition: all 0.6s;
}
.list_product ul li a:hover{
  box-shadow:0px 8px 20px #acacac;
  margin-top: -4px;
}
.list_product ul li a{
  padding-top: 30px;
  display: block;
  position: relative;
}
.list_product ul li a span{
  background: #81C351;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 38%;
}
.list_product ul li a img{
  width: 160px;
}
.list_product ul li a p:nth-child(3){
  margin: 7px;
  color: #000;
}
.list_product ul li a p:nth-child(4){
  margin: 4px;
  color:#818181;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list_product ul li a p:nth-child(5){
  margin: 10px;
  color: #FE6606;
}
.list_product ul li a p del{
  color: #818181;
}
/* 家电模块 ********************************************/
/* 家电导航图 */
.home_app{
  margin-top: 60px;
}
.home_app div:first-child a img{
 width: 1220px;
}
/* 家电图表 ************/
.app_title{
  height: 40px;
  margin: 22px 0; 
}
.app_title p{
  float: left;
  margin: 0;
}
.app_title ul{
  float: right;
}
.app_title ul li{
  margin-left: 30px;
}
.app_title ul li:hover{
  color: #FE6606;
  border-bottom: 2px solid #FE6606;
}
.app_list{
  height: 620px;
}
.app_list div:first-child{
  float: left;
}
.app_list div:first-child ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.app_list div:first-child ul li{
  width: 234px;
  height: 300px;
  margin-bottom:12px ;
}
.app_list div:first-child a img{
  position: relative;
  width: 234px;
  transition: all 0.5s;
}
.app_list div:first-child a img:hover{
  margin-top: -4px;
}
/* 为你推荐 */
.home_suggest .flash_list ul li:first-child{
  margin-left: 0;
}
.home_suggest .flash_list ul li{
  border-top: 0;
}
/* 热评产品 ********************************************/
.home_comment{
  margin-top: 60px;
  height: 400px;
}
.home_comment .comment_list ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment_list ul li{
  float: left;
  margin-left:32px; 
  perspective: 1800px;
}
.comment_list ul li:first-child{
  margin: 0;
}
.comment_list ul li a{
  display: block;
  width:280px;
  height: 340px;
	transform-style: preserve-3d;
  transform: translateZ(-200px);
  transition: transform 0.6s;
}
.comment_list ul li a:hover{
  transform: rotateY(-80deg) translateZ(10px);
}
.comment_list a .comment_p1{
  width:280px;
  height: 340px;
  position: absolute;
  text-align: center;
	background-color: #fff;
	transform: translateZ(140px);
  backface-visibility: hidden;
}
.comment_list a .comment_p2{
  padding-top:20px ;
  width:280px;
  height: 320px;
  text-align: center;
  position: absolute;
  text-align: center;
	background-color: rgba(255, 114, 27, 0.877);
  transform: rotateY(90deg) translateZ(130px);
}
.comment_p1 p,.comment_p2 p{
  font-size: 18px;
  color: #000;
}
.comment_p1 p:last-child{
  color: #FE6606;
  font-size: 16px;
}
.comment_p2 p{
  margin: 20px 40px;
  color: #fff;
}
.comment_p2 p:nth-child(2){
  font-size: 12px;
  text-align: right;
  color: #4b4b4b;
}
.comment_p2 button{
  margin-top: 50px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 4px 8px;

}
.comment_p2 button:hover{
  color: #FE6606;
  background: #fff;
}
.comment_list ul li a div img{
  width: 280px;
}
/* 视频 ******************************/
.home_video{
  margin-top: 60px;
}
.home_video div:first-child{
  height: 40px;
  margin-bottom: 20px;
}
.home_video div:first-child p{
  margin: 0;
  float: left;
}
.home_video div:first-child a{
  color:#686868;
  float: right;
}
.home_video div:first-child a:hover{
  color:#FE6606;
}
.home_video div:first-child a span{
  font-size: 20px;
}
/* 视频列表 */
.video_list{
  height: 300px;
}
.video_list ul{
  list-style: none;
  padding: 0;
}
.video_list ul li{
  width: 280px;
  height: 280px;
  background: #fff;
  text-align: center;
  float: left;
  margin-left: 32px;
  transition: all 0.6s;
}
.video_list ul li:first-child{
margin: 0;
}
.video_list ul li:hover{
  margin-top: -4px;
  box-shadow: 0px 5px 20px #818181;
}
.video_list ul li a{
  display:inline-block;
  width: 280px;
  height: 180px;
  background: url("../img/video_1.jpg") center no-repeat;
  background-size: 290px 180px;
}
.video_list ul li a span{
  position: relative;
  left: -110px;
  top: 140px;
  font-size: 18px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 0.8rem;
  padding:0 10px;
}
.video_list ul li a span:hover{
  background: #FE6606;
  border-color:#FE6606; 
}
.video_list ul li p:last-child{
  color: #686868; 
}


